html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  }


.row {
  display:flex;
  height:100%;
}

.column {
  flex:33.3%
}

.left {
  max-width: 400px;
  background-color: #000;
}
.right {
  max-width: 400px;
   background-color: #000;
}
#topPane {
  background-color: #000;
  height:300px;
  border-width: 3px;
  border-bottom-width: 0px;
  border-color: #fff;
  border-style: double;
  /* border-radius: 0 0 2
  0px 20px; */
}
#messages {
  text-align: left;
  margin:0;
  padding:10px;
  margin-left:20px;
  overflow-y: hidden;
  height:300px;
}

.messageStrip {
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color:#fff;
  margin:0;
}

.flash {
  animation-name:messageLoad;
  animation-duration:0.5s;
}

.saveRow {
  position: absolute;
  bottom:0;
}

.saveC {
  margin-top: 2px;
  margin-left:30px;
  text-align: left;
  position:relative;
  bottom:0;
}

.saveC:hover {
  background-color: #000;
  color:#fff;

}

#autosave {
  display:block;
  margin:auto;
}

.upgrade {
  /* background-image: url(images/pane.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100% 100%; */
  height:100px;
  display:flex;
  background-color: #b2b2b2;
  border-width: 3px;
  border-color: #fff;
  border-style: double;
  margin:20px;
}

.generalUpgradeDesc {
  flex:50%
}

.generalUpgradeNum {
  flex:50%
}

.upgrade:hover {
  border-color:#444;
}

.active:active {
  animation-name:upgradeClick;
  animation-duration:0.1s;
}

.upgradeDesc, .upgradeCost {
  padding-left: 25px;
  font-weight: 1000;
  font-size: 13px;
  color:#222;
  margin:0;
  width:210px;
}
.upgradeName {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 1000;
  padding-top:15px;
  margin:0;
}

.upgradeNum {
  float:right;
  padding-right:30px;
  font-size: 50px;
  font-weight: 1000;
}


.inner {
  margin-left: auto;
  margin-right: auto;
  width: 353px;
  min-width:353px;

  /*whatever width you want*/
}
#heartCont, #heart {
  display:block;
  margin:auto;
}

#heartCont {
  pointer-events: none;
  position:relative;
  top:0;
  left:0;
}

#heart {
  position: relative;
  top:-231px;
  left:-4px;
}

#heart:active {
  animation-name: click;
  animation-duration: 0.1s;
  transform:scale(1);
}

#counterDiv {
  background-color: beige;
}

#counter {
  background-color: white;
  background-image: url(images/counterBack.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}


@keyframes scale {
  from { transform:scale(1);}
  to { transform:scale(1);}
}

@keyframes click {
  0% { transform:scale(1);}
  30% { transform:scale(0.90);}
  100% {transform:scale(1);}
}

@keyframes upgradeClick {
  0%  {border-color:#fff; }
  100% { border-color:#444;}
}

@keyframes messageLoad {
  0% {color:#fff; background-color: #000;}
  30% {color:#000; background-color: #fff;}
  100% {color:#fff; background-color: #000;}
}