html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  }


.row {
  display:flex;
  height:100%;
}

.column {
  flex:33.3%
}

.left {
  max-width: 400px;
  background-color: #000;
}
.right {
  max-width: 400px;
   background-color: #000;
}
#topPane {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
  flex:50%;
  border-width: 3px;
  border-bottom-width: 0px;
  border-color: #fff;
  border-style: double;
  /* border-radius: 0 0 2
  0px 20px; */
}
#messages, #news, #about {
  display:none;
  z-index: 1;
  text-align: left;
  margin:0;
  padding:10px 0 10px 0;
  margin-left:20px;
  overflow-y: hidden;
  flex:100%;
  color:#fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
}

.messageStrip {
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color:#fff;
  margin:0;
}

.line {
  animation-name: newmessages;
  animation-duration: 0.5s;
}

@keyframes newmessages {
  0% {background-color: #fff;}
  100% {background-color: #000;}
}

.link:hover {

  text-decoration: underline;

}


a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #000;
}

a:active {
  background-color: #000;
  color: #fff;
}

a:visited {
  background-color: #000;
  color: #fff;
}

.flash {
  animation-name:messageLoad;
  animation-duration:0.5s;
}

#bottomPane {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
  border-width: 3px;
  border-top-width: 0px;
  border-color: #fff;
  border-style: double;
  flex:50%
}

.bottomRow {
  flex:50%;
  background-color: #000;
  color:#fff;
  font-size: 13px;
}

#newmessages {
  display:none;
  z-index: 1;
  margin:0;
  margin-left:20px;
  margin-top:10px;
  flex:50%;
  max-height:15vh;
  overflow-y: hidden;
}

#bottomRow2 {
  display:flex;
  flex-direction: row;
}

.saveRow {
  z-index:4;
  display:none;
  flex-direction: column-reverse;
  padding-bottom: 10px;
  flex:50%
}

.saveC {
  z-index:4;
  text-align: right;
  position:relative;
  margin-right: 20px;
  animation-name:messageLoad;
  animation-duration:0.5s
}

.saveC:hover {
  background-color: #fff;
  color:#000;
}

.saveC:active {
  animation: saveClick 0.1s;
  
}

#on {color:#ff6e6e}
#off {color: #000}

#aboutRow {
  flex:50%;
  display:flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
}

.aboutC {
  text-align: left;
  margin-left: 20px;
  animation-name:messageLoad;
  animation-duration:0.5s
}

.aboutC:hover {
  background-color: #fff;
  color:#000;
}

.donate {
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border:none;
  padding: 0;
  animation-name:messageLoad;
  animation-duration:0.5s
}

.donate-form {
  animation-name:messageLoad;
  animation-duration:0.5s
}

.donate:hover {
  background-color: #fff;
  color:#000
}

#donate-wrapper:hover .donate {
  background-color: #fff;
  color:#000
}

.outer {
  display:flex;
  flex-direction: column;
}


.tile {
  height:100px;
  display:flex;
  background-color: #000;
  border-width: 3px;
  border-color: #fff;
  border-style: double;
  margin:10px;
  animation-name: tile;
  animation-duration:0.5s;
}

@keyframes tile {
  0% {background-color: #fff;

  }
  100% { background-color: #000;}
}

@keyframes tilerest {
  0% {color:#fff}
    100% {}
}

.UpgradeNum {
  flex:50%
}

.generalNum {
  flex:30%
}

.generalDesc {
  flex:70%;
}

.upgradeDesc {
  flex:50%
}

.tile:hover {
  border-color:#444;
}

.active:active {
  animation-name:upgradeClick;
  animation-duration:0.1s;
}

.Desc, .Cost {
  padding-left: 25px;
  font-weight: 1000;
  font-size: 13px;
  color:#fff;
  margin:0;
}
.Name {
  color:#fff;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 1000;
  padding-top:15px;
  margin:0;
  animation-name: tilerest;
  animation-duration:0.5s;
}

.Num {
  color:#fff;
  float:right;
  padding-right:20px;
  font-size: 50px;
  font-weight: 1000;
  margin-top: 50px;
  animation-name: tilerest;
  animation-duration:0.5s;
}


.inner {
  margin-left: auto;
  margin-right: auto;
  width: 353px;
  min-width:353px;
}

#gameContainer {
  position: relative;
  z-index:4;
  height:300px
}

#heartCont, #heart {
  display:block;
  margin:auto;
}

#heartCont {
  /* pointer-events: none; */
  position:relative;
  top:0;
  left:0;
  z-index:3;
}

#heartWhite {
  z-index:3;
  width:156px;
  height:156px;
  background-image: url(images/heartDiv.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
}

#heart {
  z-index:4;
  position: relative;
  top:-231px;
  left:-2px;
  width:156px;
  height:156px;
  background-image: url(images/heart.png);
  background-repeat: no-repeat;
  background-position:center;
  background-position:50% calc(50% + var(--heart-offset));
  background-size: auto;
}

:root {
  --heart-offset : 0px;
}

#heartBottom {
  z-index:5;
  position: absolute;
  top:195px;
  left:108px;

  width:131px;
  height:32px;
  background-image: url(images/heartBottom.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;

}

#heart:active {
  animation-name: click;
  animation-duration: 0.1s;
}

#counterDiv {
  z-index: 3;
  position: relative;
  background-color: beige;
}

#counter {
  background-color: white;
  background-image: url(images/counterBack.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}

#wiresCon {
  z-index: 4;
  width:250px;
  position: absolute;
  top:0;
  left: 50%;

}

#wiresFlex{
  position:relative;
  left : -50%;
  height:60px;
  display: flex;
  justify-content: space-between;
}

.wiresItem{
  width: 75px;
}

#EnergySwitch {
  width:50px;
  /* background-color: #0f0; */
  opacity:1;
  /* background-image: url(images/energySwitch.png);  */
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
}




@keyframes scale {
  from { transform:scale(1);}
  to { transform:scale(1);}
}

@keyframes click {
  0% { transform:scale(1);}
  30% { transform:scale(0.90);}
  100% {transform:scale(1);}
}

@keyframes upgradeClick {
  0%  {border-color:#fff; }
  100% { border-color:#444;}
}

@keyframes messageLoad {
  0% {color:#fff; background-color: #000;}
  30% {color:#000; background-color: #fff;}
  100% {color:#fff; background-color: #000;}
}

@keyframes saveClick {
  0% {color:#000; background-color: #fff;}
  30% {color:#fff; background-color: #000;}
  100% {color:#000; background-color: #fff;}
}