html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  color: #fff;
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  }


.row {
  display:flex;
  height:100%;
}

.column {
  flex-grow:1;
}

.left {
  max-width: 400px;
  background-color: #000;
}
.right {
  max-width: 400px;
   background-color: #000;
}

.left, .right {
  width:20%;
  display: flex;
  flex-direction: column;
}

.outer {
  display:flex;
  flex-direction: column;
  width:50%;
  min-width: 410px;
  border: 3px double #fff
}



#topPane {
  position: relative;
  display: none;
  background-color: #000;
  flex:50%;
  /* border-radius: 0 0 2
  0px 20px; */
}
#topScreen, #news, #about {
  display:none;
  z-index: 1;
  text-align: left;
  margin:0;
  padding:10px 0 10px 0;
  margin:0 20px;
  overflow-y: hidden;
  color:#fff;
}


#second {
  display:flex;
  flex-direction: row;
  z-index: 1;
  text-align: left;
  margin:0;
  padding:10px 0 0 0;
  margin:0 20px;
  overflow-y: hidden;
  flex:10%;
  color:#fff;
}

#secondCounter, #secondHeart, #secondOffset {
  text-align: center;
  flex-grow: 1;
}

#SecondheartColor {
  color: #e25151;
}

#SecondheartColor:hover {
  color: #fff;
  background-color: #000;
}

#SecondheartColor:active {
  animation: heartClick 0.1s
}

@keyframes heartClick {
  0% { color: #e25151;}
  100% { color: #fff; }
}
.messageStrip {
  color:#fff;
  margin:0;
}

.line {
  animation-name: bottomScreen;
  animation-duration: 0.5s;
}

@keyframes bottomScreen {
  0% {background-color: #fff;}
  100% {background-color: #000;}
}

.link:hover {

  text-decoration: underline;

}

#blinky {
  background-color: #000;
  color: #fff;
  animation: blink 0.7s steps(1, end) infinite;
}


@keyframes blink {
50% {color:#000;}
}
/* taken from https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3 */



a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #000;
}

a:active {
  background-color: #000;
  color: #fff;
}

a:visited {
  background-color: #000;
  color: #fff;
}

.flash {
  animation-name:messageLoad;
  animation-duration:0.5s;
}

#bottomPane {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
  flex:50%
}

.bottomRow {
  flex:50%;
  background-color: #000;
  color:#fff;
  font-size: 13px;
}

#bottomScreen {
  display:none;
  z-index: 1;
  margin:0;
  margin:10px 20px 0 20px;
  flex:50%;
  max-height:16vh;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

.valet {
  color:#00cc66
}


#bottomRow2 {
  display:none;
  flex-direction: row;
  margin: 0 20px;
  padding-bottom: 10px;
}

.saveRow {
  z-index:4;
  display:none;
  flex-direction: column-reverse;
  flex:50%
}

.saveC {
  z-index:4;
  text-align: right;
  position:relative;
  animation-name:messageLoad;
  animation-duration:0.5s
}

.saveC:hover {
  background-color: #fff;
  color:#000;
}

.saveC:active {
  background-color: #000;
  color:#fff;
}

#on {color:#e25151}
#off {color: #fff}

#aboutRow {
  flex:50%;
  display:none;
  flex-direction: column-reverse;
  padding-bottom: 10px;
}

.aboutC {
  text-align: left;
  margin-left: 20px;
  animation-name:messageLoad;
  animation-duration:0.5s
}

.aboutC:hover {
  background-color: #fff;
  color:#000;
}

.donate {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border:none;
  padding: 0;
  animation-name:messageLoad;
  animation-duration:0.5s
}

.donate-form {
  animation-name:messageLoad;
  animation-duration:0.5s
}

.donate:hover {
  background-color: #fff;
  color:#000
}

#donate-wrapper:hover .donate {
  background-color: #fff;
  color:#000
}

.tile {
  min-height:100px;
  overflow-wrap: normal;
  display:flex;
  background-color: #000;
  border-width: 3px;
  border-color: #fff;
  border-style: double;
  margin:10px;
  animation-name: tile;
  animation-duration:0.5s;
}


@media (max-width: 1000px) {
  .tile {
    flex-direction: column;
  }

  .generalDesc {
    flex-grow: 1;
    padding-bottom: 0;
  }


}


@keyframes tile {
  0% {background-color: #fff;

  }
  100% { background-color: #000;}
}

@keyframes tilerest {
  0% {color:#fff}
    100% {}
}

.UpgradeNum {
  flex:50%
}

.generalNum {
  flex:30%;
  display:flex;
  flex-direction: column-reverse;

}

.generalDesc {
  flex:70%;
  padding-bottom: 20px;
}

/* .upgradeDesc {
} */

.tile:hover {
  border-color:#444;
}

.active:active {
  animation-name:upgradeClick;
  animation-duration:0.1s;
}

.Description, .Cost {
  padding-left: 25px;
  font-weight: 1000;
  font-size: 13px;
  color:#fff;
  margin:0;
}
.Name {
  color:#fff;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 1000;
  padding-top:15px;
  margin:0;
  animation-name: tilerest;
  animation-duration:0.5s;
}

.Num {
  color:#fff;
  float:right;
  padding-right:20px;
  font-size: 50px;
  font-weight: 1000;
  margin-bottom:  0;
  text-align: right;
  animation-name: tilerest;
  animation-duration:0.5s;
}

#gameContainer {
  position: relative;
  display:flex;
  z-index:4;
  height: 365px;
  min-width: 400px;
  background-color: #000;
}

#HEART {
  min-width:353px;
  background-color: #fff;
}

#left-background, #right-background {
  flex-grow: 1;
}

#left-background {
  background-image: linear-gradient(to right, #000 0px, #000 20px, #fff 20px, #fff 100%);
}

#right-background {
  background-image: linear-gradient(to left, #000 0px,  #000 20px, #fff 20px, #fff 90%);
}



#heartCont, #heart, #heartBottom, #counterDiv, #counter {
  display:block;
  margin:auto;
}

#heartCont {
  /* pointer-events: none; */
  position:relative;
  top:0;
  left:0;
  z-index:3;
}

#heartWhite {
  z-index:3;
  width:156px;
  height:156px;
  background-image: url(images/heartDiv.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
}

#heart {
  z-index:4;
  position: relative;
  top:-231px;
  left:-2px;
  width:156px;
  height:156px;
  background-image: url(images/heart.png);
  background-repeat: no-repeat;
  background-position:center;
  background-position:50% calc(50% + var(--heart-offset));
  background-size: auto;
}

:root {
  --heart-offset : 0px;
}

#heartBottom {
  z-index:5;
  position: relative;
  top:-261px;
  left:-2px;
  width:131px;
  height:32px;
  background-image: url(images/heartBottom.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;

}

#heart:active {
  animation-name: click;
  animation-duration: 0.1s;
}

#counterDiv {
  z-index: 3;
  position: relative;
}

#counter {
  background-image: url(images/counterBack.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
  color:#000;
  padding: 15px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}

.wiresCon {
  z-index: 4;
  width:250px;
  position: absolute;
  left: 50%;
}

#wiresUp {
  top:0;
}

#wiresDown {
  bottom:65px;
}

.wiresFlex{
  position:relative;
  left : -50%;
  top:65px;
  height:60px;
  display: flex;
  justify-content: space-between;
}

.wiresItem{
  width: 75px;
}

#EnergySwitch {
  width:50px;
  /* background-color: #0f0; */
  opacity:1;
  /* background-image: url(images/energySwitch.png);  */
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto;
}

.close {
  z-index:10;
  position: absolute;
  width: 50%;
  height:100%;
  background-color: #000;
}

#closeLeft {
  left:0px;
}

#closeRight {
  right:0;
}

@keyframes open-sesame {
  from {width:50%}
  to {width:0%}
}

@keyframes close-sesame {
  from {width:0%}
  to {width:50%}

}


@keyframes scale {
  from { transform:scale(1);}
  to { transform:scale(1);}
}

@keyframes click {
  0% { transform:scale(1);}
  30% { transform:scale(0.90);}
  100% {transform:scale(1);}
}

@keyframes upgradeClick {
  0%  {border-color:#fff; }
  100% { border-color:#444;}
}

@keyframes messageLoad {
  0% {color:#fff; background-color: #000;}
  30% {color:#000; background-color: #fff;}
  100% {color:#fff; background-color: #000;}
}

@keyframes saveClick {
  0% {color:#000; background-color: #fff;}
  30% {color:#fff; background-color: #000;}
  100% {color:#000; background-color: #fff;}
}