body, html {
    margin:0;
    height:100%;
}

.container {
    display:grid;
  height:100%;
    grid-template-columns: 20% 60% 20%;

    background-image: url(leaving.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  

}

.margin {
  background-color: #000;
  /* opacity:0.9; */

}

.center {

}


#logo {
  z-index:1;
  width:40%;
  display:block;
  margin:auto;
  margin-top: 10px;
}
